# build/test output
*.o
*.a
*.wav
*.log

# http://www.gnu.org/software/automake

Makefile
config.h
config.status
Makefile.in
.deps

po/POTFILES

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing

# build/test executables
src/normalize
src/normalize-mp3
src/mktestwav
libtool
stamp-h1


